<section>
  <div class="row">
    <div class="col-sm-12">
      <h1 class="h1">
        {{ "public.home.title" | translate }}
      </h1>
      <div>
        <h2 class="h2">{{ "public.home.text1" | translate }}</h2>
        <ul class="list-group">
          <li class="list-group-item">{{ "public.home.text2" | translate }}</li>
          <li class="list-group-item">
            {{ "public.home.text3" | translate }}
          </li>
          <li class="list-group-item">{{ "public.home.text4" | translate }}</li>
          <li class="list-group-item">
            {{ "public.home.text5" | translate }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
