<!-- <div class="form-group">
  <label for="changeLanguage"> Select a language</label>
  <select class="custom-select" id="changeLanguage" [(ngModel)]="selectedLanguage">
    <option [value]="item.value" *ngFor="let item of languages">{{item.key}}</option>
  </select>
</div> -->


<li class="dropdown language-selector">
    Language:  
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-close-others="true">
      <img src="assets/images/flag-uk.png" />
    </a>
    <ul class="dropdown-menu pull-right">
      <li>
        <a href="#">
          <img src="assets/images/flag-de.png" />
          <span>Deutsch</span>
        </a>
      </li>
      <li class="active">
        <a href="#">
          <img src="assets/images/flag-uk.png" />
          <span>English</span>
        </a>
      </li>
      <li>
        <a href="#">
          <img src="assets/images/flag-fr.png" />
          <span>François</span>
        </a>
      </li>
    </ul>
  </li>